*{
    box-sizing: border-box;
}

body{
    font-family: 'Syne', sans-serif;
    overflow: hidden;
}

header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 150px;
}

header > img {
    height: 100%;
    width: auto;
}

header > *{
    margin: 0 40px;
}

header > h1{
    color: white;
    text-align: center;
}

#container{
    margin-top: 175px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#scoreContainer{
    display: flex;
    justify-content: center;
    margin-bottom: auto;
    
}

#scoreContainer > *{
    margin: auto 20px;
    height: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.scoreBox{
    width: 90px;
    height: 200px;
    background-color: lightgray;
    border-radius: 10px;
    font-weight:800;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.win{
    background-color: rgb(221, 221, 136);
}

.scoreBox > *{
    font-size: 40px;
    color: white;
}

#playerScore> h2, #computerScore> h2{
    text-align: center;
}

#scoreContainer > h2{
    display: flex;
    align-items: center;
    flex-direction: row;
    font-size: 60px;
    height: 131px;
    margin: 0 auto;
}

#players{
    display: flex;
    width: 100%;
    margin-bottom: 20px;
}

#kyungsoo, #jinyoung{
    display: flex;
    width: 50%;
    margin: 0 10px;
    align-items: center;
    justify-content: center;
}

figure{
    max-width:25%;
    padding: 0 3px;
    margin: 0;
    transition: all 0.5s ease;
}

.selected {
    transform: scale(1.1);
    border-color: black;
    box-shadow: 0 0 1rem black;
    
  }

#kyungsoo > figure:hover{
    cursor: pointer;

}

.playerChoice > img, .computerChoice > img{
    width: 100%;
    height:auto
}

figcaption{
    text-align: center;
}

#narration > p{
    white-space: pre-line;
    margin: 0 0;
    
}

#narration{
    position: relative;
    height: 75px;
    overflow: auto;
    text-align: center;
}

@media (max-width: 1000px){
    figure{
    max-width:33%;
    }
    #narration{
        height: 200px;
    }
}

@media (max-width: 500px){
    figure{
    max-width:33%;
    }
    #narration{
        height: 100px;
    }
    #players{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }

    #scoreContainer > *{
        height: 150px;
    }

    .scoreBox{
        width: 75px;
    }

    .scoreBox > *{
        font-size: 20px;
    }

    .selected {
        transform: scale(1.02);
    }

}